In [561]:
from sklearn import datasets
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np

In [729]:
iris = datasets.load_iris()  # Загружаем данные по iris

In [730]:
iris_frame = pd.DataFrame(iris.data) # Переводим данные в ДФ
iris_frame.columns = iris.feature_names # Указываем заголовки для столбцов
iris_frame['target'] = iris.target # Заполняем данные "с ключем" / "по стобцу" target

In [731]:
# В ДФ оставляем только Iris Versicolor и Iris Virginica
iris_frame = iris_frame [(iris_frame['target'] == 1) | (iris_frame['target'] == 2)] 
iris_frame

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
50,7.0,3.2,4.7,1.4,1
51,6.4,3.2,4.5,1.5,1
52,6.9,3.1,4.9,1.5,1
53,5.5,2.3,4.0,1.3,1
54,6.5,2.8,4.6,1.5,1
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [732]:
# Удаляем из анализа параметр target
select_iris_frame = iris_frame.drop(['target'], axis = 1)

In [733]:
#Приводим данные к единой размерности
from sklearn.preprocessing import StandardScaler

In [734]:
ss = StandardScaler()
x = pd.DataFrame(ss.fit_transform(select_iris_frame))
x

           0         1         2         3
0   1.119009  0.990688 -0.250779 -0.653039
1   0.209246  0.990688 -0.494254 -0.416431
2   0.967382  0.688649 -0.007304 -0.416431
3  -1.155400 -1.727663 -1.102941 -0.889647
4   0.360873 -0.217468 -0.372516 -0.416431
..       ...       ...       ...       ...
95  0.664127  0.386610  0.357908  1.476436
96  0.057618 -1.123585  0.114433  0.530003
97  0.360873  0.386610  0.357908  0.766611
98 -0.094009  1.594766  0.601383  1.476436
99 -0.548891  0.386610  0.236171  0.293394

[100 rows x 4 columns]

In [735]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [736]:
# В y записываем требуемые значения
le.fit(iris_frame['target'])
y = pd.DataFrame(le.transform(iris_frame['target']))

In [737]:
import matplotlib.pyplot as plt

In [738]:
f = lambda x: x**3-2*x**2+2
f_prime = lambda x: 3*x**2-4*x
f_log_regres  = lambda x: 1/(1 + np.exp(-x))
sigmoid_output_to_derivative = lambda output: output*(1-output)

In [739]:
def f_log_regres(X):
    return 1/(1 + np.exp(-X))

## Nesterov Accelerated Gradient

In [740]:
lr = 0.1
synapse_0 = 2*np.random.random((4,1)) - 1
n_epochs = 100
yy = 0.9

for _ in range(n_epochs):
    
    if yy > 0:
        yy -= 0.05

    layer_0 = x
    layer_1 = f_log_regres(np.dot( layer_0,  synapse_0) - yy * np.array(y))
    layer_1_error = yy * np.array(y) - (1 - yy) * layer_1
    layer_1_delta = layer_1_error * sigmoid_output_to_derivative(layer_1)
    # обновим веса
    synapse_0 += np.dot(layer_0.T,layer_1_delta)

## RMSProp

In [742]:
lr = 0.1
synapse_0 = 2*np.random.random((4,1)) - 1
n_epochs = 100
yy = 0.9
Gt = 0

for _ in range(n_epochs):
    
    if yy > 0:
        yy -= 0.05

    layer_0 = x
    layer_1 = f_log_regres(np.dot( layer_0,  synapse_0))
    layer_1_error = yy * np.array(y) - (1 - yy) * np.square(layer_1)
    Gt = Gt + np.square(layer_1)
    layer_1_delta = layer_1_error * ( sigmoid_output_to_derivative(layer_1) / np.sqrt( Gt + 1e-8))
    # обновим веса
    synapse_0 += np.dot(layer_0.T,layer_1_delta)